.App {
  text-align: center;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background-color: #333e49;
}